<mat-toolbar>
    <span>mapt.io</span>
    <mat-tab-group backgroundColor="secondary" color="primary" [(selectedIndex)]="selectedTab">
            <mat-tab label="map"></mat-tab>
            <mat-tab *ngIf="loggedIn" label="+flights"></mat-tab>
            <mat-tab *ngIf="loggedIn" label="edit"></mat-tab>
            <mat-tab *ngIf="loggedIn" label="profile"></mat-tab>
    </mat-tab-group>

    <button mat-raised-button (click)="logout()" class="logout-button">{{loggedIn ? 'Logout' : 'Login'}}</button>
</mat-toolbar>

<mat-tab-group class="hidden-tabs" [(selectedIndex)]="selectedTab">
    <mat-tab><div class="subbar"> <app-mappage></app-mappage> </div></mat-tab>
    <mat-tab *ngIf="loggedIn"><div class="subbar"> <app-flightlist [isAddTrip]="true"></app-flightlist> </div></mat-tab>
    <mat-tab *ngIf="loggedIn"><div class="subbar"> <app-flightlist [isAddTrip]="false"></app-flightlist> </div></mat-tab>
    <mat-tab *ngIf="loggedIn"><div class="subbar"> <app-profile></app-profile> </div></mat-tab>
</mat-tab-group>