<mat-toolbar>
    <span>mapt.io</span>
</mat-toolbar>

<div class="form-card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{isCreateAccount ? "Create Account" : "Login"}}</mat-card-title>
            <mat-card-subtitle *ngIf="error.length > 0" class="warn-text">{{error}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form>
                <table cellspacing="0">
                    <!-- email -->
                    <tr><td>
                        <mat-form-field>
                            <input matInput 
                                placeholder="Email"
                                [(ngModel)]="email"
                                [formControl]="emailFormControl"
                                [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td></tr>

                    <!-- username -->
                    <tr *ngIf="isCreateAccount"><td>
                        <mat-form-field>
                            <input matInput 
                                placeholder="Username" 
                                [(ngModel)]="username" 
                                name="username" 
                                [formControl]="usernameFormControl"
                                [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="usernameFormControl.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td></tr>

                    <!-- password -->
                    <tr><td>
                        <mat-form-field>
                            <input matInput 
                                type="password"
                                placeholder="Password" 
                                [(ngModel)]="password" 
                                name="password" 
                                [formControl]="passwordFormControl"
                                [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="passwordFormControl.hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                                    Password must be  <strong>{{minPassLen}} or more</strong> characters
                                </mat-error>
                        </mat-form-field>
                    </td></tr>

                    <!-- public -->
                    <tr><td>
                        <mat-form-field>
                            <mat-slide-toggle matInput
                                name="ispublic"
                                color="accent"
                                [(ngModel)] = "isPublic">
                                {{isPublic ? "Account status: public" : "Account status: private"}}
                            </mat-slide-toggle>
                        </mat-form-field>
                    </td></tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="isCreateAccount = !isCreateAccount" color="primary">{{isCreateAccount ? "Back" : "Create Account"}}</button>
            <button mat-raised-button (click)="isCreateAccount ? submitNewUser() : submitLogin()" color="primary" [disabled]="has_errors()">
                <span class="spinner-span">
                    {{isCreateAccount ? "Create Account" : "Login"}}
                    <mat-spinner *ngIf="showSpinner" [diameter]="20" [color]="'accent'"></mat-spinner>
                </span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>