@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body, .mat-app-background { /* make theme take up whole page */
    height: 100%;
    overflow-y: auto;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 5px;
}

mat-toolbar {  /* ensure that topbar does not scroll */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.mat-spinner {
    margin-left: 5px;
}

.spinner-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card-container, .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-card-container table { /* select tables in .form-card-containers */
    padding: 10px;
}

.form-card-container .mat-card {
    padding: 30px;
}

.warn-text {
    color: #f44336; /* mat theme warn color */
}

.subbar {
    padding-top: 64px;
}