@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body, .mat-app-background { /* make theme take up whole page */
    height: 100%;
    overflow: hidden;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 5px;
}

.form-card-container, .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    padding-top: 50px;
>>>>>>> d43ac72817b4867510d9fd73803201298d0d6e33
}

.form-card-container table { /* select tables in .form-card-containers */
    padding: 10px;
}

.form-card-container .mat-card {
<<<<<<< HEAD
    margin-top: 100px;
=======
>>>>>>> d43ac72817b4867510d9fd73803201298d0d6e33
    padding: 30px;
}