@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body, .mat-app-background { /* make theme take up whole page */
    height: 100%;
    overflow: hidden;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 5px;
}

.form-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card-container table { /* select tables in .form-card-containers */
    padding: 10px;
}

.form-card-container .mat-card {
    margin-top: 100px;
    padding: 30px;
}