<!-- {% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.fid) }}
    {{ render_field(form.tid) }}
    {{ render_field(form.airline_iata) }}
    {{ render_field(form.flight_num) }}
    {{ render_field(form.depart_iata) }}
    {{ render_field(form.arrival_iata) }}
    {{ render_field(form.depart_datetime) }}
    {{ render_field(form.arrival_datetime) }}
    {{ render_field(form.duration) }}
    {{ render_field(form.mileage) }}

  </dl>
  <p><input type=submit value='Add Flight'>
</form> -->

<html>
   <body>
        {% block content %}
            <h1>Add Flight</h1>
            <form action="" method="post" novalidate>
              <p>
                  {{ form.fid.label }}<br>
                  {{ form.fid(size=32) }}<br>
                  {% for error in form.fid.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.tid.label }}<br>
                  {{ form.tid(size=32) }}<br>
                  {% for error in form.tid.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.airline_iata.label }}<br>
                  {{ form.airline_iata(size=32) }}<br>
                  {% for error in form.airline_iata.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.flight_num.label }}<br>
                  {{ form.flight_num(size=32) }}<br>
                  {% for error in form.flight_num.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.depart_iata.label }}<br>
                  {{ form.depart_iata(size=32) }}<br>
                  {% for error in form.depart_iata.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.arrival_iata.label }}<br>
                  {{ form.arrival_iata(size=32) }}<br>
                  {% for error in form.arrival_iata.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.depart_datetime.label }}<br>
                  {{ form.depart_datetime(size=32) }}<br>
                  {% for error in form.depart_datetime.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.arrival_datetime.label }}<br>
                  {{ form.arrival_datetime(size=32) }}<br>
                  {% for error in form.arrival_datetime.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.duration.label }}<br>
                  {{ form.duration(size=32) }}<br>
                  {% for error in form.duration.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.mileage.label }}<br>
                  {{ form.mileage(size=32) }}<br>
                  {% for error in form.mileage.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>{{ form.submit() }}</p>
            </form>
        {% endblock %}
   </body>
</html>
