<!doctype html>
<html>
   <body>
      <h2> Users </h2>
      <table border = 5>
         <thead>
            <td>UID</td>
            <td>Email</td>
            <td>Username</td>
            <td>Password</td>
            <td>Public</td>
            <td>Session Token</td>
         </thead>

         {% for row in userrows %}
            <tr>
               <td>{{row["uid"]}}</td>
               <td>{{row["email"]}}</td>
               <td>{{row["username"]}}</td>
               <td>{{row['password']}}</td>
               <td>{{row['public']}}</td>
               <td>{{row['session']}}</td>
            </tr>
         {% endfor %}
      </table>

      <h2> Trips </h2>
      <table border = 5>
         <thead>
            <td>TID</td>
            <td>UID</td>
            <td>Trip Name</td>
            <td>Color</td>
         </thead>

         {% for row in tripsrows %}
            <tr>
               <td>{{row["tid"]}}</td>
               <td>{{row["uid"]}}</td>
               <td>{{row["trip_name"]}}</td>
               <td>{{row["color"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <h2> Flights </h2>
      <table border = 5>
         <thead>
           <td>FID</td>
           <td>TID</td>
           <td>Airline IATA</td>
           <td>Flight Number</td>
           <td>Depart IATA</td>
           <td>Arrival IATA</td>
           <td>Depart Date & Time</td>
           <td>Arrival Date & Time</td>
           <td>Duration</td>
           <td>Mileage</td>
         </thead>

         {% for row in flightsrows %}
            <tr>
               <td>{{row["fid"]}}</td>
               <td>{{row["tid"]}}</td>
               <td>{{row["airline_iata"]}}</td>
               <td>{{row["flight_num"]}}</td>
               <td>{{row["depart_iata"]}}</td>
               <td>{{row["arrival_iata"]}}</td>
               <td>{{row["depart_datetime"]}}</td>
               <td>{{row["arrival_datetime"]}}</td>
               <td>{{row["duration"]}}</td>
               <td>{{row["mileage"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <h2> Airlines </h2>
      <table border = 5>
         <thead>
            <td>IATA</td>
            <td>Name</td>
         </thead>

         {% for row in airlinesrows %}
            <tr>
               <td>{{row["iata"]}}</td>
               <td>{{row["name"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <h2> Airports </h2>
      <table border = 5>
         <thead>
            <td>IATA</td>
            <td>Name</td>
            <td>City</td>
            <td>Country</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Time Zone</td>
            <td>DST</td>
         </thead>

         {% for row in airportsrows %}
            <tr>
               <td>{{row["iata"]}}</td>
               <td>{{row["name"]}}</td>
               <td>{{row["city"]}}</td>
               <td>{{row["country"]}}</td>
               <td>{{row["latitude"]}}</td>
               <td>{{row["longitude"]}}</td>
               <td>{{row["time_zone"]}}</td>
               <td>{{row["dst"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br><a href = "/">Home</a></br>
   </body>
</html>
