.mat-card-subtitle {
    width: 100%;
}

.mat-card {
    padding-top: 0px;
}

.button-row {
    margin-top: 16px;
}

.add-button {
    float: right; 
}

.tripname-container {
    text-align: center;
    padding-top: 1.25em;
}

.close-hidden{
    visibility: hidden;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}
