.mat-card-subtitle {
    width: 100%;
}

.mat-card {
    padding-top: 0px;
}

table {
    margin: 0 auto; /* center fields within table */
}

.button-row {
    margin-top: 16px;
}

.add-button {
    float: right; 
}

.tripname-container {
    padding-top: 1.25em;
}

.tripname-container .mat-form-field {
    margin-left: 20px;
    margin-right: 20px;
}

.close-hidden{
    visibility: hidden;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}
