<div class="center-container">
    <mat-accordion displayMode="flat">
        <h3 *ngIf="trips.length == 0">No existing trips - try adding one!</h3>
        <mat-expansion-panel *ngFor="let trip of trips; let tripIndex = index" [expanded]="isAddTrip && tripIndex == 0">
            <mat-expansion-panel-header>
                <mat-panel-title>{{trip.tripName}}</mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-divider></mat-divider>
            <table cellspacing="0" class="tripname-container"><tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Trip Name" [(ngModel)]="trip.tripName" required>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Display Color" [matAutocomplete]="colorAuto" [(ngModel)]="trip.color" required>
                        <mat-autocomplete #colorAuto="matAutocomplete">
                            <mat-option *ngFor="let color of getColorSuggestions(trip.color)" [value]="color.name" [style.background-color]="color.name">
                                <span [style.color]="color.grayscale < 0.6 ? 'white' : 'black'">{{color.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </td>
            </tr></table>

            <mat-expansion-panel
                *ngFor="let flight of trip.flights; let flightIndex = index" 
                [expanded]="tripIndex == lastAddedTo && flightIndex == trips[tripIndex].flights.length - 1"> <!-- expand if most recentyl added flight -->
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        {{getFlightDescription(flight, flightIndex)}}
                        <button mat-button
                            *ngIf="trips[tripIndex].flights.length > 1"
                            class="close-button"
                            (click)="removeFlight(tripIndex, flightIndex)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table cellspacing="10">
                    <tr> <!-- general flight info -->
                        <td>
                            <mat-form-field>
                                <input matInput type='number' placeholder="Flight Number" [(ngModel)]="flight.number">
                            </mat-form-field>
                        </td>

                        <mat-form-field>
                            <input matInput
                                type="text"
                                placeholder="Airline"
                                [matAutocomplete]="airlineAuto"
                                [(ngModel)]="flight.airline"
                                required>
                            <mat-autocomplete #airlineAuto="matAutocomplete">
                                <mat-option *ngFor="let airline of airlines" [value]="airline">
                                    {{airline}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </tr>

                    <tr> <!-- label -->
                        <td>From</td>
                        <td>To</td>
                    </tr>

                    <tr> <!-- airport -->
                        <td>
                            <mat-form-field>
                                <input matInput
                                    type="text"
                                    placeholder="Departure Airport"
                                    [matAutocomplete]="depAuto"
                                    [(ngModel)]="flight.depart_airport"
                                    required>
                                <mat-autocomplete #depAuto="matAutocomplete">
                                    <mat-option *ngFor="let airport of getAirportSuggestions(flight, true)" [value]="airport">
                                        {{airport}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput
                                    type="text"
                                    placeholder="Arrival Airport"
                                    [matAutocomplete]="arrAuto"
                                    [(ngModel)]="flight.arrival_airport"
                                    required>
                                <mat-autocomplete #arrAuto="matAutocomplete">
                                    <mat-option *ngFor="let airport of getAirportSuggestions(flight, false)" [value]="airport">
                                        {{airport}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr> <!-- date -->
                        <td>
                            <mat-form-field>
                                <input matInput 
                                    [matDatepicker]="depPicker" 
                                    placeholder="Departure Date" 
                                    [(ngModel)]="flight.depart_date"
                                    required>
                                <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
                                <mat-datepicker #depPicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput 
                                    [matDatepicker]="arrPicker" 
                                    placeholder="Arrival Date" 
                                    [(ngModel)]="flight.arrival_date"
                                    required>
                                <mat-datepicker-toggle matSuffix [for]="arrPicker"></mat-datepicker-toggle>
                                <mat-datepicker #arrPicker></mat-datepicker>
                            </mat-form-field>   
                        </td>
                    </tr>
    
                    <tr> <!-- time -->
                        <td>
                            <mat-form-field>
                                <input matInput type="time" placeholder="Departure Time" [(ngModel)]="flight.depart_time" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="time" placeholder="Arrival Time" [(ngModel)]="flight.arrival_time" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel> <!-- end of inner (flight) panel -->

            <div class="button-row">
                <button mat-raised-button (click)="saveTrip(tripIndex)" color="primary" [disabled]="hasErrors(trip)">
                    <span class="spinner-span">
                        Save Trip
                        <mat-spinner *ngIf="showSpinner" [diameter]="20" [color]="'accent'"></mat-spinner>
                    </span>
                </button>
                <button mat-mini-fab (click)="addFlight(tripIndex)" class="add-button"><mat-icon>add</mat-icon></button>
            </div>
        </mat-expansion-panel> <!-- end of outer (trip) panel-->
    </mat-accordion>
</div>